@model List<Nashotelru.Models.ApplicationUser>
@{
  ViewBag.Title = "Администрирование";
}

<h2>@ViewBag.Title</h2>
  <ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Новости", "Index", "News")</li>
    <li class="list-group-item">@Html.ActionLink("Отзывы", "Index", "Responses")</li>
  </ul>
@foreach (var item in Model)
{
  <dl class="dl-horizontal no-response">
    <dt>
      @Html.DisplayNameFor(model => item.UserName)
    </dt>

    <dd>
      @Html.DisplayFor(model => item.UserName)
    </dd>
  </dl>
}
