@model List<Nashotelru.Models.UserRolesViewModel>
@using System.Linq
@{
  ViewBag.Title = "Администрирование";
}
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">@Html.ActionLink("Новости", "Index", "News")</li>
      <li class="list-group-item">@Html.ActionLink("Отзывы", "Index", "Responses")</li>
      <li class="list-group-item">@Html.ActionLink("Страницы", "Index", "Page")</li>
    </ul>
  </div>
  <div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <hr />
    @foreach (var item in Model)
    {
      <dl class="dl-horizontal no-response">
        <dt>
          @Html.DisplayNameFor(model => item.UserName)
        </dt>
        <dd>
          @Html.DisplayFor(model => item.UserName)
          @*<br />@Html.DisplayFor(model => item.NoUserInfo.EMail)*@
          <br />Роли: @Html.Raw(item.Roles)
        </dd>
      </dl>

    }
  </div>
</div>