@model PagedList.IPagedList<Nashotelru.Models.PageViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<h2>@Nashotelru.Resources.Shared.Menu.Page_Title</h2>
<p>
    @Html.ActionLink(Nashotelru.Resources.Shared.Menu.Create, "Create", new { p = ViewBag.p })
</p>
<table class="table">

@for (var i = 0; i < Model.Count; i++)
{
  if (i == 0)
  {
    <tr>
      <th>
        @Html.DisplayNameFor(model => model[0].Language)
      </th>
      <th>
        @Html.DisplayNameFor(model => model[0].Name)
      </th>
      <th></th>
    </tr>
  }
  <tr>
    <td>
      @Html.DisplayFor(model => model[i].Language)
    </td>
    <td>
      @Html.DisplayFor(model => model[i].Name)
    </td>
    <td>
      @Html.ActionLink(Nashotelru.Resources.Shared.Menu.Edit, "Edit", new { id = Model[i].ID, p = ViewBag.p }) |
      @Html.ActionLink(Nashotelru.Resources.Shared.Menu.Delete, "Delete", new { id = Model[i].ID, p = ViewBag.p })
    </td>
  </tr>
}
</table>
<br />
  Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
  @Html.PagedListPager(Model, id => Url.Action("Index", new { id }))
