@model Nashotelru.Areas.ru.Models.News

@{
  ViewBag.Title = "Новость";
}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>@Model.Title</h4>
    <p><small>@Html.DisplayFor(p => Model.Date)</small></p><p>@Html.Raw(@Model.Text)</p>
    <br />
    @Html.ActionLink("Все новости", "Index", "News")
    <br />
  </div>
</div>
