@model Nashotelru.Areas.ru.Models.Response
@*@using Recaptcha;*@
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@using CaptchaMvc.Infrastructure
@using CaptchaMvc.Models
@{
  ViewBag.Title = "Отзыв";
  //ICaptcha captcha = Html.Captcha("Обновить", "Введите значение", 7, "Поле не заполнено", true);
  ICaptcha captcha = Html.Captcha(7, "_Captcha", "_CaptchaScript", null, new[] {
    new ParameterModel(DefaultCaptchaManager.IsRequiredAttribute, true),
    new ParameterModel(DefaultCaptchaManager.InputTextAttribute, "Введите значение"),
    new ParameterModel(DefaultCaptchaManager.RefreshTextAttribute, "Обновить"),
    new ParameterModel(DefaultCaptchaManager.RequiredMessageAttribute, "Поле не заполнено")
  });
}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    @using (Html.BeginForm("Create", "Response", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <h2>@ViewBag.Title</h2>
        @Html.ValidationSummary(true)

        <div class="form-group">
          @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark })
            @Html.ValidationMessageFor(model => model.Name)
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Mail, new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.TextBoxFor(model => model.Mail, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mail)
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.TextAreaFor(model => model.Text, 10, 0, new { @class = "form-control" })
            <div class="text-muted">Допустимые HTML тэги: &lt;b&gt;, &lt;i&gt;, &lt;br&gt;.</div>
            @Html.ValidationMessageFor(model => model.Text)
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            @*@Html.Raw(Html.GenerateCaptcha("captcha", "clean"))*@
            @captcha.RenderMarkup()
            @*@Html.Captcha("refreshText", "inputText", 5)*@
            @*@Html.ValidationMessage("captcha")*@
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Отправить" class="btn btn-default" />
          </div>
        </div>
      </div>
    }
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  @captcha.RenderScript()
}
